In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("instances.csv")
df.head()

,instance,instance_nodes,instance_edges,topology,slots,max_sd,terminals,spread,group
0,21n-70m-SpanishTelefonica_30_3_66_0.2,21,70,SpanishTelefonica,30,3,66,0.2,0
1,21n-70m-SpanishTelefonica_30_3_66_0.5,21,70,SpanishTelefonica,30,3,66,0.5,0
2,21n-70m-SpanishTelefonica_30_3_66_1.0,21,70,SpanishTelefonica,30,3,66,1.0,0
3,21n-70m-SpanishTelefonica_10_1_66_0.2,21,70,SpanishTelefonica,10,1,66,0.2,0
4,21n-70m-SpanishTelefonica_10_1_66_0.5,21,70,SpanishTelefonica,10,1,66,0.5,0

In [6]:
df["group"].value_counts()

group
0    459
1     54
Name: count, dtype: int64